# Application Port
PORT=3000

# MongoDB Connection URI
MONGO_URI=mongodb://localhost:27017/takeitgo-lite-db

# JWT Secret Key for token signing
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=1h

# Example for future integration (optional)
# GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY